In [2]:
import pandas as pd

In [4]:
# Data loading
file_path = "Resources\shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [5]:
# Consider these questions:

# 1) What knowledge do we hope to glean from running an unsupervised learning model on this dataset?
# 2) What data is available? What type? What is missing? What can be removed?
# 3) Is the data in a format that can be passed into an unsupervised learning model?
# 4) Can I quickly hand off this data for others to use?

In [6]:
# 1) What knowledge do we hope to glean from running an unsupervised learning model on this dataset?

# It's a shopping dataset, so we can group together shoppers based on spending habits.

# Data Selection

In [ ]:
# 2) What data is available? What type? What is missing? What can be removed?

In [7]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [9]:
# List dataframe data types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [20]:
# ValueError: Input contains NaN, infinity or a value too large for dtype('float64').
# Fine null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [21]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [22]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [23]:
# Remove the CustomerID Column
df_shopping.drop(columns=["CustomerID"], inplace=True)
df_shopping.head()

C:\Users\keyto\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

# Data Processing

In [24]:
# 3) Is the data in a format that can be passed into an unsupervised learning model?

In [25]:
# Set up for the unsupervised learning model, which requires the following:

# Null values are handled.
# Only numerical data is used.
# Values are scaled. In other words,
# data has been manipulated to ensure that the variance between the numbers won't skew results.

In [30]:
# Transform String column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
        
df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
df_shopping.head()

C:\Users\keyto\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

# Data Transformation

In [31]:
# 4) Can I quickly hand off this data for others to use?

In [32]:
# Saving cleaned data
file_path = "Resources\/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)